body{
    font-size: 14px;
    font-family: 'PingFang SC', tahoma, arial, 'helvetica neue', 'hiragino sans gb', 'microsoft yahei', sans-serif;
}

span{
    font-size: 18px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    width: fit-content;
    display: inline-block;
}

em{
    font-style: inherit;
    font-weight: 600;
}

img{
    width: 100%;
    min-height: 405px;
    display: none;
}

.container{
    width:1000px;
    min-height:685px;
    margin: auto auto;
}

#choice, #pre, #post{
    font-size: 18px;
}

#choice{
    margin-left: 150px;
}

input{
    width: 20px;
    height: 20px;
}

label{
    font-size: 20px;
}

#count{
    color: #999;
    font-size: 16px; 
    display: none;
}

#next{
    width: 200px;
    height: 30px;
    font-size: 16px;
    float: right;
    margin-right: 140px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tag-container{
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-bottom: 10px;
    margin-top: 4px; 
}

.tag {
    font-size: 12px; 
    background: #eee;
    border-radius: 5px;
    padding: 3px; 
    padding-left: 6px;
    padding-right: 6px; 
}

#post{
    display: none;
}

#message{
    display: none;
}

.checkbox{
    border: 1px solid #999;
}

.checkbox:hover{
    background: rgba(0, 200, 0, 0.2);
}

.choosed, .choosed:hover{
    background: url(./yes.png) center center no-repeat;
    background-size: contain;
    background-size: 80px 80px;
}

.choosed:hover{
    background: url(./yes.png)  rgba(0, 200, 0, 0.2) center center no-repeat;
    background-size: 80px 80px;
}

.checkbox-disable{
    border: 1px solid #999;
    background: url(./disable.png) #eee center center no-repeat;
    background-size: 50px 50px;
}

table{
    width: 80%;
    margin: auto;
}

td,th{
    padding: 0;
}

th{
    height: 50px;
}

td{
    height: 100px;
    width: 100px;
}

#task2{
    display: none;
}